<div class="form_group">
  <label for="title">Title</label>
  <input
    required
    value="<%=article.title%>"
    type="text"
    name="title"
    id="title"
    class="form-control"
  />
</div>

<div class="form_group">
  <label for="discription">Discription</label>
  <textarea
    required
    type="text"
    name="discription"
    id="discription"
    class="form-control"
  >
<%=article.discription%></textarea
  >
</div>

<div class="form_group">
  <label for="markdown">Markdown</label>
  <textarea required name="markdown" id="markdown" class="form-control">
<%=article.markdown%></textarea
  >
</div>
<a href="/" class="btn btn-danger mt-2">Cancle</a>

<button type="submit" class="btn btn-primary mt-2">Save</button>
